h4, h5, h6 {
    margin: 0.5rem;
}

.card {
    margin: 1px;
    padding: 0.5rem;
    width : 18rem;
    float: left;
    height: 16rem;
    border: 1px solid green;
    border-radius: 5px;
}

.card_body {
    width: 100%;
}

.card_title {
    margin: 1rem;
}

.inline_block {
    display: inline-block;
}

.flex_box {
    display: flex;
}

.space_around {
    justify-content: space-around;
}

.text_justify {
    text-align: justify;
}