.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav_bar {
  padding: 0.5rem;
  height: 3rem;
  font-size: 1.5rem;

  background-color: green;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem;
  background-color: darkgreen;
  color: white;
  border: 1px solid darkorange;
  border-radius: 0.25rem;
  text-decoration: none;
  transition-duration: 0.25s;
  cursor: pointer;
}

.btn:hover {
  background-color: darkorange;
  color: black;
}